<cyber>
    <module>
        <name>local_localization</name>
        <dag_conf>/apollo/modules/localization/dag/local_localization.dag</dag_conf>
        <process_name>local_localization</process_name>
    </module>
    <module>
        <name>localization_health_bridge</name>
        <dag_conf>/apollo/modules/localization/dag/health_bridge.dag</dag_conf>
        <process_name>localization_health_bridge</process_name>
    </module>
    <module>
        <name>localization_health_odom_only</name>
        <dag_conf>/apollo/modules/localization_health/dag/localization_health_odom_only.dag</dag_conf>
        <process_name>localization_health_odom_only</process_name>
    </module>
</cyber>
